{include file="common/meta"}
<body>
  <div class="x-nav">
    <span class="layui-breadcrumb">
      <a href="">首页</a>
      <a href="">演示</a>
      <a>
        <cite>导航元素</cite></a>
    </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
      <i class="layui-icon" style="line-height:30px">ဂ</i></a>
  </div>
  <div class="x-body">
    <div class="layui-row">
      

    </div>
    <xblock>
      <button class="layui-btn" ><i class="layui-icon"></i>按钮</button>
      <span class="x-right" style="line-height:40px">共有数据：{$count||default="0-0"} 条</span>
    </xblock>
    <table class="layui-table x-admin">
      <thead>
        <tr>
          <th>
            <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
          </th>
          <th>ID</th>
          <td>关联用户</td>
          <td>红包标题</td>
          <td>时间</td>
          <td>使用状态</td>
          <th>操作</th></tr>
      </thead>
      <tbody>

        {foreach $data as $v}
        <tr>
          <td>
            <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='2'><i class="layui-icon">&#xe605;</i></div>
          </td>
          <td>{$v.id}</td>
          <td>{$v.user_name|default="null"}</td>
          <td>{$v.name|default="null"}</td>
          <td>
            添加时间：{$v.add_time|default="null"}<br>
            使用时间：{$v.use_time|default="null"}<br>
          </td>
          <td>{$v.red_status}</td>
          <td class="td-manage">
           
            <a title="修改信息"  onclick="x_admin_show('修改信息','{:url("Red/edit",["id"=>$v.id])}',600,400)" href="javascript:;">
              <i class="layui-icon">&#xe642;</i>
            </a>
          
             <a title="删除" onclick="data_del(this,'{$v.id}')" href="javascript:;">
              <i class="layui-icon">&#xe640;</i>
            </a>
          </td>
        </tr>
        {/foreach}

      </tbody>
    </table>

    {if $count==0} <center><p>----没有数据----</p></center>{/if}
    <div class="page">
     {$data->render()}
    </div>


  </div>
</body>
<script type="text/javascript">
function data_del(obj,id){
    layer.confirm('确认要删除吗？',function(){
        //发异步删除数据
        $.ajax({
          type:"POST",
          url:"{:url('Redmember/delete')}"+"?id="+id,
          success:function(data){
            data = JSON.parse(data);
              if(data.status==1){
                $(obj).parents("tr").remove();
                  layer.msg(data.msg,function(){
                     window.location.reload();
                  });
              }else{
                  layer.msg(data.msg);
              }
          },
        });
    });
}
</script>
