{include file="common/meta"}  
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">演示</a>
        <a>
          <cite>导航元素</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
       
        <xblock>
            <a title="添加会员" href="{:url('Member/create')}" class="layui-btn">添加</a>
            <a title="会员列表" href="{:url('Member/list')}" class="layui-btn layui-btn-normal">列表</a>
            <a title="" href="" class="layui-btn layui-btn-warm">按钮</a>
        </xblock>

        <fieldset class="layui-elem-field">
            <div class="layui-field-box">
                <form class="layui-form" id="submit_form">
        
                   
                    <div class="layui-form-item">
                         <div class="layui-inline">
                            <label class="layui-form-label">user名称</label>
                            <div class="layui-input-inline">
                                <input type="text" name="user_name" lay-verify="required" class="layui-input">
                            </div>
                        </div>
                    </div>


                    <div class="layui-form-item">
                      
                        <div class="layui-inline">
                            <label class="layui-form-label">nick昵称</label>
                            <div class="layui-input-inline">
                                <input type="text" name="nick_name" lay-verify="required" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-inline">
                            <label class="layui-form-label">电话号码</label>
                            <div class="layui-input-inline">
                                <input type="text" name="user_mobile" lay-verify="required" class="layui-input">
                            </div>
                        </div>
                    </div>


                    <div class="layui-form-item">

                        <div class="layui-inline">
                          <label class="layui-form-label">出生日期</label>
                          <div class="layui-input-inline">
                            <input type="text" name="birthday"  id="date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                          </div>
                        </div>

                        <div class="layui-inline">
                          <label class="layui-form-label">性别</label>
                          <div class="layui-input-block">
                            <input type="radio" name="sex" value="1" title="男" checked="">
                            <input type="radio" name="sex" value="0" title="女">
                            <input type="radio" name="sex" value="2" title="保密">
                          </div>
                        </div>


                    </div>



                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">密码</label>
                            <div class="layui-input-inline">
                                <input type="password" name="password" lay-verify="required" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">重复密码</label>
                            <div class="layui-input-inline">
                                <input type="password" name="res_password" lay-verify="required" class="layui-input">
                            </div>
                        </div>
                    </div>


                    <div class="layui-form-item">
                      <div class="layui-form-item">
                      <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                      </div>
                    </div>
                    </div>
                </form>
            </div>
        </fieldset>
    </div>
</html>
<script>
    $(function  () {
            layui.use(['form','laydate'], function(){
                var form = layui.form
                ,layer = layui.layer
                ,laydate = layui.laydate;

               //日期
                laydate.render({
                  elem: '#date'
                });
           
              //监听提交
              form.on('submit(formDemo)', function(data){
                  $.ajax({
                      type:"POST",
                      url:"{:url('Member/save')}",
                      data:$("#submit_form").serialize(),
                      dataType:"json",
                      success:function(data){
                          if(data.status==1){
                              layer.msg(data.msg,function(){
                                window.location.href="{:url('Member/list')}";
                              });
                          }else{
                              layer.msg(data.msg);
                          }
                      }
                  });
                return false;
              });
            });
        })
    </script>