  <!-- 左侧菜单开始 -->
    <div class="left-nav">
      <div id="side-nav">
        <ul id="nav">

            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6b8;</i>
                    <cite>会员管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{:url('Member/list')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>会员列表</cite>
                        </a>
                    </li >

                    

                     <li>
                        <a _href="{:url('Member/qiandao_list')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>会员签到记录</cite>
                        </a>
                    </li >

                     <li>
                        <a _href="{:url('Paylog/list')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>会员支付记录</cite>
                        </a>
                    </li >
                   
                </ul>
            </li>


            <!-- 折扣管理 -->
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6b5;</i>
                    <cite>折扣管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>

                <ul class="sub-menu">
                    <li>
                        <a href="javascript:;">
                            <i class="iconfont">&#xe6b8;</i>
                            <cite>红包管理</cite>
                            <i class="iconfont nav_right">&#xe697;</i>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a _href="{:url('Red/list')}">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>红包列表</cite>
                                </a>
                            </li >
                            <li>
                                <a _href="{:url('Redmember/list')}">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>红包使用记录</cite>
                                </a>
                            </li >
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="iconfont">&#xe70b;</i>
                            <cite>优惠劵管理</cite>
                            <i class="iconfont nav_right">&#xe697;</i>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a _href="{:url('Youhui/list')}">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>优惠劵列表</cite>
                                </a>
                            </li >
                            <li>
                                <a _href="javascript:;">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>优惠劵使用记录</cite>
                                </a>
                            </li >
                        </ul>
                    </li>
                </ul>
            </li>
            <!-- 红包优惠 -->
            

            <!-- 店铺管理 -->
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe722;</i>
                    <cite>店铺管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{:url('Store/list')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>店铺列表</cite>
                        </a>
                    </li >
                </ul>
            </li>

            <!-- 商品管理 -->
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6f6;</i>
                    <cite>商品管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="javascript:;">
                            <i class="iconfont">&#xe6fa;</i>
                            <cite>分类管理</cite>
                            <i class="iconfont nav_right">&#xe697;</i>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a _href="{:url('Cate/list')}">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>分类列表</cite>
                                </a>
                            </li >
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="iconfont">&#xe70c;</i>
                            <cite>商品管理</cite>
                            <i class="iconfont nav_right">&#xe697;</i>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a _href="{:url('Goods/list')}">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>商品列表</cite>
                                    
                                </a>
                            </li >
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="iconfont">&#xe699;</i>
                            <cite>订单管理</cite>
                            <i class="iconfont nav_right">&#xe697;</i>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a _href="{:url('Order/list')}">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>订单列表</cite>
                                    
                                </a>
                            </li >
                        </ul>
                    </li>





                </ul>
            </li>


            <li>
                <a href="javascript:;">
                    
                    <i class="iconfont">&#xe6ae;</i>
                    <cite>网站配置</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{:url('Peizhi/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>网站信息</cite>
                        </a>
                    </li>
                </ul>
            </li>

           
        </ul>
      </div>
    </div>
    <!-- <div class="x-slide_left"></div> -->
    <!-- 左侧菜单结束 -->